* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
}

body {
    background-color: #fff;
    color: #000;
}

a {
    text-decoration: none;
    color: inherit;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

section h1 {
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 20px;
    text-transform: capitalize;
}

main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border: 2px solid #f4ce62;
    border-radius: 1px;
    padding: 50px 20px;
    width: 600px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
}

main h4 {
    font-size: 15px;
    font-weight: 800;
    text-transform: capitalize;
    padding-bottom: 10px;
}

main form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

main form label {
    font-size: 14px;
    font-weight: 700;
    text-transform: capitalize;
}

main form input {
    padding: 10px;
    border: 1px solid #f4ce62;
    border-radius: 1px;
    font-size: 14px;
}

main form input:focus {
    outline: none;
    border-color: #000;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

main .remember-me {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    text-transform: capitalize;
}

button {
    margin-top: 20px;
    padding: 10px;
    border: none;
    border-radius: 1px;
    background-color: #f4ce62;
    color: #000;
    font-size: 16px;
    font-weight: 700;
    width: 200px;
    align-self: center;
    text-transform: capitalize;
    cursor: pointer;
    border: 2px solid #f4ce62;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #fff;
    border: 2px solid #f4ce62;
}

button:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

section a {
    color: #000;
    text-decoration: none;
    font-size: 14px;
    text-transform: capitalize;
    cursor: pointer;
    transition: 0.3s;
    word-spacing: 5px;
    margin-left: 15px;
}
section div{
    margin-top: 20px;
    font-size: 14px;
}
section a:hover {
    color: #f4ce62;
}