* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
    color: #000;
}

body {
    font-family: 'Orbitron';
    margin: 50px 100px;
    padding: 0;
    background: #fff;
    color: #000;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    border-bottom: 2px solid #f4ce62;
}

header h4 {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
    text-transform: capitalize;
}

header p {
    margin: 0;
    font-size: 15px;
    font-weight: 700;
    color: #000;
    cursor: pointer;
    text-transform: capitalize;
    background-color: #f4ce62;
    transition: 0.3s;
    padding: 8px 16px;
    border: 1px solid #f4ce62;
}

header p:hover {
    background-color: #fff;
    color: #000;
}

h5 {
    margin: 20px 0;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
    border-bottom: 1px solid #f4ce62
}

.account-info {
    margin-top: 20px;
}

.account-info h4 {
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
    text-align: left;
}

.account-info img {
    width: 150px;
    height: auto;
}

.account-info p {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 8px;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .order-div {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

main .order-history-txt {
    display: flex;
    justify-content: space-around;
}

main .order-history-txt p {
    border-right: 1px solid #f4ce62;
    padding-right: 20px;
}

main .order {
    border: 2px solid #f4ce62;
    border-radius: 20px;
    width: 900px;
    height: 150px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
}

main .order:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}